# Ignore Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.egg-info/
Pipfile
Pipfile.lock

# Ignore Django secret settings
.env
*.sqlite3
db.sqlite3

# Logs and database
*.log
*.pot
*.pyc
*.pyo
media/
staticfiles/
*.db

# VS Code and JetBrains (PyCharm)
.vscode/
.idea/

# Django migrations (optional)
**/migrations/**

# Ignore coverage reports
htmlcov/
.coverage
*.cover
.hypothesis/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
